<br>
<br>
<br>
<br>
<div class="home__image-wrap">
  <div class="center jumbotron">
    <br>
    <h1>Poly</h1>
    <%= image_tag("gpmlogo.png", height: '128', width: '128') %>
    <h2>Find the tools you need in one location</h2>
    <h5>Poly is a search engine for Game Dev specific code snippets, editors, full tools and more! Create Your Own Poly's and share them with others to find!</h5>
    <h5>
      <%= link_to "View Poly's Submitted By The Community", polies_path %>
    </h5>
    <br>
    <%= form_tag('/search', :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Ex: tween, voxel, sprites, gamemaker, unity", id: "searchbar" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    <br>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>
