<div class="home__image-wrap">
  <div class="center jumbotron">
    <br>
    <h1>Poly</h1>
    <%= image_tag("gpmlogo.png", height: '128', width: '128') %>
    <h2>Find, Install, and Create Your Own Poly's</h2>
    <h5>Poly is a engine agnostic library of code snippets, editors, full tools and more! In one location for game devs.</h5>
    <br>
    <h5>
      <%= link_to "View The Poly's Submitted By The Community", polies_path %>
    </h5>
    <br>
    <%= form_tag('/search', :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Ex: unity, gamemaker, sprites", id: "searchbar" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    <br>
    <div class="row">
      <div class="col-md-4">
        <h4>Made By Game Developers For Game Developers</h4>
        <h5>Poly.gg is a Game Developer community code snippet hosting website. Instantly publish your Poly's and then install them. Use the search bar and find out more about available Polys. Become a contributor and improve the site yourself.</h5>
        <h5>We need your help to keep Poly.gg running smoothly and free for everyone to use. Become a member today and start sharing, using Poly.gg</h5>
      </div>
      <div class="col-md-4">
        <h4>Become A Moderator</h4>
        <h5>We need mods to help with any issues that come up with user accounts or Poly's that are causing trouble. If you would like to become a Mod. Go to the Github Page and let us know or Tweet @kinifi</h5>
      </div>
    </div>
  </div>
</div>
