<p id="notice"><%= notice %></p>

<h1>Poly's</h1>
<br>
<hr>

<table id="polytable">
  <tbody>
    <% @polies.each do |poly| %>
      <tr>
        <td id="websitetitle" colspan="2"><%= poly.name %></td>
      </tr>
      <br>
      <tr>
        <td id="website"><%= poly.description %></td>
        <!-- <td><%= poly.docs %></td>
        <td><%= poly.bugtracker %></td> -->
        <!-- <td><%= poly.downloads %></td> -->
        <!-- <td><%= poly.license %></td>
        <td><%= poly.author %></td>
        <td><%= poly.submittedby %></td> -->
        <!-- <td id="website"><%= poly.website %></td> -->
        <!-- <td><%= poly.gitsshurl %></td>
        <td><%= poly.repotype %></td> -->
        <td id="website"><%= link_to 'Show Info', poly %></td>
        <!-- <td><%= link_to 'Edit', edit_poly_path(poly) %></td> -->
        <!-- <td><%= link_to 'Destroy', poly, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'Create New Poly', new_poly_path %> -->
