<p id="notice"><%= notice %></p>

<h1>
  <%= @poly.name %>
</h1>
<hr>

<h5>
  <%= @poly.description %>
</h5>
<hr>

<table id="polytable">
  <tbody>
    <tr>
      <td id="website">Website: <%= link_to @poly.website, @poly.website %></td>
      <td id="website">Issue Tracker: <%= link_to @poly.bugtracker, @poly.bugtracker %></td>
    </tr>
  </tbody>
</table>

<p>
  <strong>Docs:</strong>
  <%= link_to @poly.docs, @poly.docs %>
</p>
<p>
  <strong>License:</strong>
  <%= @poly.license %>
</p>
<p>
  <strong>Author:</strong>
  <%= @poly.author %>
</p>
<p>
  <strong>Submitted By:</strong>
  <%= @poly.submittedby %>
</p>
<p>
  <strong>HTTPS URL:</strong>
  <%= @poly.gitsshurl %>
</p>

<p>
  <strong>Repotype:</strong>
  <%= @poly.repotype %>
</p>
<hr>

<iframe src="<%= @poly.website %>" width="100%" height="800" frameborder="0">

<hr>

<p>Note: If a Poly needs to be deleted please contact @kinifi</p>
<%= link_to 'Edit', edit_poly_path(@poly) %> |
<%= link_to 'Back To List', polies_path %>
