<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p id="notice"><%= notice %></p>

<h1>
  <%= @poly.name %>
</h1>
<hr>

<h5>
  <%= @poly.description %>
</h5>
<hr>

<table id="polytable">
  <tbody>
    <tr>
      <td id="website">Website: <%= link_to @poly.website, @poly.website %></td>
    </tr>
    <tr>
      <td id="website">Issue Tracker: <%= link_to @poly.bugtracker, @poly.bugtracker %></td>
    </tr>
    <tr>
      <td id="website">Documentation: <%= link_to @poly.docs, @poly.docs %></td>
    </tr>
    <tr>
      <td id="website">License: <%= @poly.license %></td>
    </tr>
    <tr>
      <td id="website">Author: <%= @poly.author %></td>
    </tr>
    <tr>
      <td id="website">Submitted By: <%= @poly.submittedby %></td>
    </tr>

  </tbody>
</table>

<hr>

<iframe src="<%= @poly.website %>" width="100%" height="800" frameborder="0">

<hr>

<p>Note: If a Poly needs to be deleted please contact @kinifi</p>
<%= link_to 'Edit', edit_poly_path(@poly) %> |
<%= link_to 'Back To List', polies_path %>
