<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br>
    <br>
    <h1>Password Reset</h1>
    <br>
    <% if user.errors.any? %>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    <%= form_for(:reset, url: reset_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.submit "Email Password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
