<%= form_for(:session, url: login_path) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <hr>

  <div class="field">
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Login", class: "btn btn-primary"  %>
  </div>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>

<% end %>
